[flake8]
# ignored rules, see https://lintlyci.github.io/Flake8Rules/
# E203: Whitespace before ':'
# E302: Expected 2 blank lines, found 0
# E731: Do not assign a lambda expression, use a def
# W503: Line break occurred before a binary operator
ignore = E203,E302,E731,W503,E402
max-line-length = 90
exclude = tests/test_current.py
per-file-ignores =
    code/rmt/constants.py:E221,E501,E241
    code/rmt/defaults.py:E221,E501,E241
