@font-face {
  font-family: 'MIT';
  src:  url('fonts/MIT.eot?39c4h6');
  src:  url('fonts/MIT.eot?39c4h6#iefix') format('embedded-opentype'),
    url('fonts/MIT.ttf?39c4h6') format('truetype'),
    url('fonts/MIT.woff?39c4h6') format('woff'),
    url('fonts/MIT.svg?39c4h6#MIT') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'MIT' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-splitview_supplements:before {
  content: "\e90a";
}
.icon-split-view-supplements-pane:before {
  content: "\e90a";
}
.icon-splitview_read:before {
  content: "\e90d";
}
.icon-full-text:before {
  content: "\e90d";
}
.icon-splitview_notes:before {
  content: "\e910";
}
.icon-menu_pdf:before {
  content: "\e914";
}
.icon-menu_permissions:before {
  content: "\e91d";
}
.icon-menu_figures:before {
  content: "\e91e";
}
.icon-menu_views:before {
  content: "\e91f";
}
.icon-menu_cite:before {
  content: "\e920";
}
.icon-cite:before {
  content: "\e920";
}
.icon-availability_cart:before {
  content: "\e900";
}
.icon-menu_account:before {
  content: "\e91b";
}
.icon-menu_hamburger:before {
  content: "\e91c";
}
.icon-menu_search:before {
  content: "\e915";
}
.icon-availability_free:before {
  content: "\e901";
}
.icon-availability_restricted:before {
  content: "\e903";
}
.icon-availability_lock:before {
  content: "\e903";
}
.icon-menu_share:before {
  content: "\e916";
}
.icon-menu_tools:before {
  content: "\e917";
}
.icon-menu_views-standard:before {
  content: "\e930";
}
.icon-menu_views-split:before {
  content: "\e919";
}
.icon-social-twitter:before {
  content: "\f099";
}
.icon-social-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-social-youtube:before {
  content: "\f16a";
}
.icon-social-instagram:before {
  content: "\f16d";
}
.icon-menu_pdf-small:before {
  content: "\e918";
}
.icon-availability_cart-small:before {
  content: "\e928";
}
.icon-history-small:before {
  content: "\e92a";
}
.icon-availability_openaccess-small:before {
  content: "\e921";
}
.icon-availability_restricted-small:before {
  content: "\e92e";
}
.icon-availability_lock-small:before {
  content: "\e92e";
}
.icon-availability_available-small:before {
  content: "\e92f";
}
.icon-general_arrow-down:before {
  content: "\e905";
}
.icon-general_arrow-left:before {
  content: "\e906";
}
.icon-general_arrow-right:before {
  content: "\e907";
}
.icon-general_arrow-up:before {
  content: "\e908";
}
.icon-general-arrow-filled-down:before {
  content: "\e932";
}
.icon-caret-down:before {
  content: "\e932";
}
.icon-general-arrow-filled-right:before {
  content: "\e934";
}
.icon-caret-right:before {
  content: "\e934";
}
.icon-general-arrow-filled-left:before {
  content: "\e933";
}
.icon-caret-left:before {
  content: "\e933";
}
.icon-general-arrow-filled-up:before {
  content: "\e935";
}
.icon-caret-up:before {
  content: "\e935";
}
.icon-menu_alerts:before {
  content: "\e911";
}
.icon-menu_comments:before {
  content: "\f075";
}
.icon-comment:before {
  content: "\f075";
}
.icon-availability_available:before {
  content: "\e902";
}
.icon-availability_unlocked:before {
  content: "\e902";
}
.icon-availability_openaccess:before {
  content: "\e904";
}
.icon-availability_open:before {
  content: "\e904";
}
.icon-general-check:before {
  content: "\e909";
}
.icon-general-close:before {
  content: "\e90b";
}
.icon-general_minus:before {
  content: "\e90c";
}
.icon-general-add:before {
  content: "\e90e";
}
.icon-linkout:before {
  content: "\e90f";
}
.icon-menu_account-small:before {
  content: "\e912";
}
.icon-menu_cite-small:before {
  content: "\e913";
}
.icon-menu_figures-small:before {
  content: "\e91a";
}
.icon-menu_hamburger-small:before {
  content: "\e922";
}
.icon-menu_permissions-small:before {
  content: "\e923";
}
.icon-menu_search-small:before {
  content: "\e924";
}
.icon-menu_share-small:before {
  content: "\e925";
}
.icon-menu_tools-small:before {
  content: "\e926";
}
.icon-menu_views-small:before {
  content: "\e927";
}
.icon-menu_views-split-small:before {
  content: "\e929";
}
.icon-menu_views-standard-small:before {
  content: "\e92b";
}
.icon-splitview_content:before {
  content: "\e92c";
}
.icon-ContentCss:before {
  content: "\e92c";
}
.icon-split-view-contents-pane:before {
  content: "\e92c";
}
.icon-splitview_figures-tables:before {
  content: "\e92d";
}
.icon-FiguresTablesCss:before {
  content: "\e92d";
}
.icon-split-view-figures-and-tables-pane:before {
  content: "\e92d";
}
.icon-splitview_references:before {
  content: "\e931";
}
.icon-ReferencesCss:before {
  content: "\e931";
}
.icon-split-view-references-pane:before {
  content: "\e931";
}
.icon-splitview_related:before {
  content: "\e936";
}
.icon-RelatedCss:before {
  content: "\e936";
}
.icon-split-view-related-pane:before {
  content: "\e936";
}
.icon-menu_supplement-small:before {
  content: "\e937";
}
.icon-supplement-small:before {
  content: "\e937";
}
.icon-menu_supplement:before {
  content: "\e938";
}
.icon-supplement:before {
  content: "\e938";
}
.icon-general-mail:before {
  content: "\f199";
}
.icon-envelope-square:before {
  content: "\f199";
}
.icon-envelope-alt:before {
  content: "\f199";
}
.icon-social-linkedin:before {
  content: "\f0e1";
}
.icon-social-pinterest:before {
  content: "\f231";
}
.icon-social-feed:before {
  content: "\f09e";
}
.icon-social-rss:before {
  content: "\f09e";
}
